<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.testingframework.listeners.ListenerClass"></listener>
		<listener
			class-name="com.testingframework.listeners.MethodInterceptor"></listener>
		<listener
			class-name="com.testingframework.listeners.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="5" name="Test" parallel="methods">
		<classes>
			<class name="com.testingframework.test.OrangeHRMTest" />
			<class name="com.testingframework.test.AmazonDemoTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
